#wrapper {
  width: 960px;
}

.button {
  text-align: center;
  padding-bottom: 5px;
}
.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: aqua;
  margin: 1px;
}

.newColor {
  background: red;
}
