#wrapper {
  width: 960px;
  height: auto;
}

.button {
  text-align: center;
  padding-bottom: 5px;
}
.square {
  display: inline-block;
  height: 58px;
  /* width: 58px; */
  background: aqua;
  margin: 1px;
}

.newColor {
  background: red;
}
